In [ ]:
import pandas as pd
data = pd.read_csv('흡연_음주 여부/lung_drink.csv')
data

,centerNm,critYr,ptAge,ptSexCd,statsTrgtNm,ncsNmvl,wholNcsDnmvl,ptCntNmvl,wholPtCntDnmvl
0,국립암센터,2013,57,M,N,2,10,2,8
1,국립암센터,2017,73,F,N,8,8,6,6
2,국립암센터,2011,54,M,N,5,9,5,9
3,국립암센터,2014,82,M,N,2,2,2,2
4,국립암센터,2019,62,M,N,4,19,4,18
...,...,...,...,...,...,...,...,...,...
995,국립암센터,2015,41,F,N,1,1,1,1
996,국립암센터,2012,79,M,Y,6,8,4,5
997,국립암센터,2015,71,M,N,10,21,6,15
998,국립암센터,2012,53,M,Y,2,3,2,3
999,국립암센터,2019,83,F,N,5,5,4,4

In [ ]:
df = data[['ptSexCd', 'statsTrgtNm']]
df

    ptSexCd statsTrgtNm
0         M           N
1         F           N
2         M           N
3         M           N
4         M           N
..      ...         ...
995       F           N
996       M           Y
997       M           N
998       M           Y
999       F           N

[1000 rows x 2 columns]

In [ ]:
def do(x):
    if x == 'M':
        return 1
    else:
        return 2

In [ ]:
def doo(x):
    if x == 'Y':
        return 1
    else:
        return 0

In [ ]:
df['ptSexCd'] = df['ptSexCd'].map(do)
df['statsTrgtNm'] = df['statsTrgtNm'].map(doo)

C:\Users\martu\AppData\Local\Temp/ipykernel_117200/3079284376.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ptSexCd'] = df['ptSexCd'].map(do)
C:\Users\martu\AppData\Local\Temp/ipykernel_117200/3079284376.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['statsTrgtNm'] = df['statsTrgtNm'].map(doo)

In [ ]:
X = df[['ptSexCd']]
y = df[['statsTrgtNm']]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

X_train_val, X_test_val, y_train_val, y_test_val = \
train_test_split(X_train, y_train, test_size = 0.2, random_state =42)

from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train_val, y_train_val)

LinearRegression()

In [ ]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
scaled_minmax = MinMaxScaler()
scaled_standard = StandardScaler()

In [ ]:
scaled_minmax.fit(X_train_val)
scaled_minmax_train = scaled_minmax.transform(X_train_val)

scaled_standard.fit(X_train_val)
scaled_standard_train = scaled_standard.transform(X_train_val)

scaled_minmax_test = scaled_minmax.transform(X_test_val)
scaled_standard_test = scaled_standard.transform(X_test_val)

In [ ]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(scaled_minmax_train, y_train_val)

LinearRegression()

In [ ]:
lr.score(scaled_minmax_test, y_test_val)

0.029424695060832562

In [ ]:
#RMSE
from sklearn.metrics import mean_squared_error
a_pred = lr.predict(X_test_val)

a = mean_squared_error(y_test_val,a_pred)**0.5
a

0.5115734565248449

# OLS

In [ ]:
import statsmodels.api as sm

model = sm.OLS(y, X)
result = model.fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:            statsTrgtNm   R-squared (uncentered):                   0.360
Model:                            OLS   Adj. R-squared (uncentered):              0.359
Method:                 Least Squares   F-statistic:                              562.1
Date:                Wed, 15 Dec 2021   Prob (F-statistic):                    6.22e-99
Time:                        14:37:45   Log-Likelihood:                         -815.04
No. Observations:                1000   AIC:                                      1632.
Df Residuals:                     999   BIC:                                      1637.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
ptSexCd        0.2665      0.011     23.708      0.000       0.244       0.289
==============================================================================
Omnibus:                     4402.855   Durbin-Watson:                   1.981
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              135.401
Skew:                           0.112   Prob(JB):                     3.96e-30
Kurtosis:                       1.211   Cond. No.                         1.00
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""