In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('2020.txt',encoding='UTF-8')
data.head()

,기준년도,경찰서명,신고건수,신고성별(남자),신고성별(여자),신고성별(불상),신고 성별(기타),접수긴급유형(긴급),접수긴급유형(중요),접수긴급유형(일반),...,발생시간대(14),발생시간대(15),발생시간대(16),발생시간대(17),발생시간대(18),발생시간대(19),발생시간대(20),발생시간대(21),발생시간대(22),발생시간대(23)
0,2020,ETC,3031,890,1956,175,9,39,2047,445,...,119,100,111,116,141,179,232,317,269,262
1,2020,무주,12,2,9,1,0,1,10,1,...,0,0,0,0,0,3,0,0,0,6
2,2020,대전중부,340,113,213,14,0,6,211,91,...,22,9,8,16,21,21,16,39,26,36
3,2020,서울노원,831,271,498,62,0,29,687,74,...,37,41,29,33,50,42,44,53,86,74
4,2020,마산중부,166,53,110,3,0,9,114,33,...,9,7,6,13,4,10,9,12,19,11

In [3]:
df=pd.DataFrame(data)
df

,기준년도,경찰서명,신고건수,신고성별(남자),신고성별(여자),신고성별(불상),신고 성별(기타),접수긴급유형(긴급),접수긴급유형(중요),접수긴급유형(일반),...,발생시간대(14),발생시간대(15),발생시간대(16),발생시간대(17),발생시간대(18),발생시간대(19),발생시간대(20),발생시간대(21),발생시간대(22),발생시간대(23)
0,2020,ETC,3031,890,1956,175,9,39,2047,445,...,119,100,111,116,141,179,232,317,269,262
1,2020,무주,12,2,9,1,0,1,10,1,...,0,0,0,0,0,3,0,0,0,6
2,2020,대전중부,340,113,213,14,0,6,211,91,...,22,9,8,16,21,21,16,39,26,36
3,2020,서울노원,831,271,498,62,0,29,687,74,...,37,41,29,33,50,42,44,53,86,74
4,2020,마산중부,166,53,110,3,0,9,114,33,...,9,7,6,13,4,10,9,12,19,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272,2020,청주청원,307,94,202,11,0,5,231,53,...,9,15,9,6,10,24,22,21,25,23
273,2020,목포,397,122,258,17,0,4,295,83,...,15,14,7,18,30,24,21,34,52,38
274,2020,상주,93,27,65,1,0,0,53,35,...,1,2,4,2,4,13,9,9,14,8
275,2020,포항북부,286,80,190,16,0,3,150,112,...,7,6,11,22,20,9,17,22,22,33
276,2020,함안,39,11,26,2,0,2,20,14,...,1,1,1,2,0,0,6,1,5,4

In [4]:
df=df.drop(['기준년도'],axis=1)
df

,경찰서명,신고건수,신고성별(남자),신고성별(여자),신고성별(불상),신고 성별(기타),접수긴급유형(긴급),접수긴급유형(중요),접수긴급유형(일반),접수긴급유형(민원),...,발생시간대(14),발생시간대(15),발생시간대(16),발생시간대(17),발생시간대(18),발생시간대(19),발생시간대(20),발생시간대(21),발생시간대(22),발생시간대(23)
0,ETC,3031,890,1956,175,9,39,2047,445,94,...,119,100,111,116,141,179,232,317,269,262
1,무주,12,2,9,1,0,1,10,1,0,...,0,0,0,0,0,3,0,0,0,6
2,대전중부,340,113,213,14,0,6,211,91,18,...,22,9,8,16,21,21,16,39,26,36
3,서울노원,831,271,498,62,0,29,687,74,31,...,37,41,29,33,50,42,44,53,86,74
4,마산중부,166,53,110,3,0,9,114,33,7,...,9,7,6,13,4,10,9,12,19,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272,청주청원,307,94,202,11,0,5,231,53,13,...,9,15,9,6,10,24,22,21,25,23
273,목포,397,122,258,17,0,4,295,83,11,...,15,14,7,18,30,24,21,34,52,38
274,상주,93,27,65,1,0,0,53,35,3,...,1,2,4,2,4,13,9,9,14,8
275,포항북부,286,80,190,16,0,3,150,112,17,...,7,6,11,22,20,9,17,22,22,33
276,함안,39,11,26,2,0,2,20,14,1,...,1,1,1,2,0,0,6,1,5,4

In [5]:
df=df.set_index('경찰서명')
df

,신고건수,신고성별(남자),신고성별(여자),신고성별(불상),신고 성별(기타),접수긴급유형(긴급),접수긴급유형(중요),접수긴급유형(일반),접수긴급유형(민원),접수긴급유형(기타),...,발생시간대(14),발생시간대(15),발생시간대(16),발생시간대(17),발생시간대(18),발생시간대(19),발생시간대(20),발생시간대(21),발생시간대(22),발생시간대(23)
경찰서명,,,,,,,,,,,,,,,,,,,,,
ETC,3031,890,1956,175,9,39,2047,445,94,406,...,119,100,111,116,141,179,232,317,269,262
무주,12,2,9,1,0,1,10,1,0,0,...,0,0,0,0,0,3,0,0,0,6
대전중부,340,113,213,14,0,6,211,91,18,14,...,22,9,8,16,21,21,16,39,26,36
서울노원,831,271,498,62,0,29,687,74,31,10,...,37,41,29,33,50,42,44,53,86,74
마산중부,166,53,110,3,0,9,114,33,7,3,...,9,7,6,13,4,10,9,12,19,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
청주청원,307,94,202,11,0,5,231,53,13,5,...,9,15,9,6,10,24,22,21,25,23
목포,397,122,258,17,0,4,295,83,11,4,...,15,14,7,18,30,24,21,34,52,38
상주,93,27,65,1,0,0,53,35,3,2,...,1,2,4,2,4,13,9,9,14,8
포항북부,286,80,190,16,0,3,150,112,17,4,...,7,6,11,22,20,9,17,22,22,33
함안,39,11,26,2,0,2,20,14,1,2,...,1,1,1,2,0,0,6,1,5,4

In [6]:
df.to_csv('2020.csv',encoding='euc-kr')

In [7]:
# 2020 서울

In [8]:
seoul_20=df.loc[['서울강남',
'서울강동',
'서울강북',
'서울강서',
'서울관악',
'서울광진',
'서울구로',
'서울금천',
'서울남대문',
'서울노원',
'서울도봉',
'서울동대문',
'서울동작',
'서울마포',
'서울방배',
'서울서대문',
'서울서부',
'서울서초',
'서울성동',
'서울성북',
'서울송파',
'서울수서',
'서울양천',
'서울영등포',
'서울용산',
'서울은평',
'서울종로',
'서울종암',
'서울중랑',
'서울중부',
'서울청',
'서울혜화'
],:]
seoul_20

,신고건수,신고성별(남자),신고성별(여자),신고성별(불상),신고 성별(기타),접수긴급유형(긴급),접수긴급유형(중요),접수긴급유형(일반),접수긴급유형(민원),접수긴급유형(기타),...,발생시간대(14),발생시간대(15),발생시간대(16),발생시간대(17),발생시간대(18),발생시간대(19),발생시간대(20),발생시간대(21),발생시간대(22),발생시간대(23)
경찰서명,,,,,,,,,,,,,,,,,,,,,
서울강남,238,74,147,17,0,8,178,38,10,4,...,7,5,7,12,18,7,11,15,21,19
서울강동,575,195,355,25,0,26,430,90,21,8,...,12,11,13,17,27,35,42,65,46,54
서울강북,437,135,259,43,0,16,364,37,17,3,...,11,11,18,18,26,19,28,49,39,49
서울강서,734,236,452,46,0,14,574,112,24,10,...,27,33,29,33,33,45,42,64,70,68
서울관악,549,205,316,28,0,16,433,80,15,5,...,27,23,15,13,30,25,57,53,56,25
서울광진,345,104,219,22,0,13,254,54,12,12,...,8,13,13,11,14,16,31,38,35,30
서울구로,495,174,299,22,0,16,397,57,23,2,...,27,11,20,18,23,35,25,49,55,42
서울금천,320,110,192,18,0,13,259,31,12,5,...,10,12,9,16,12,13,24,24,44,30
서울남대문,39,10,22,7,0,1,30,4,2,2,...,2,2,0,5,0,2,3,1,1,5
서울노원,831,271,498,62,0,29,687,74,31,10,...,37,41,29,33,50,42,44,53,86,74
서울도봉,500,152,313,35,0,16,413,52,9,10,...,4,17,19,25,20,42,34,45,50,32
서울동대문,445,170,261,14,0,16,373,42,11,3,...,14,22,13,12,21,22,41,43,45,43
서울동작,348,108,222,18,0,15,269,40,21,3,...,17,16,10,13,19,14,13,30,36,20
서울마포,387,115,241,31,0,14,280,56,26,11,...,11,12,17,13,11,23,25,34,40,37
서울방배,107,31,73,3,0,2,82,16,5,2,...,3,2,5,6,2,7,5,24,9,9
서울서대문,278,106,153,19,0,5,208,42,14,9,...,16,12,14,7,10,17,15,20,18,23
서울서부,327,86,209,32,0,6,243,55,20,3,...,10,19,18,10,21,16,19,24,31,30
서울서초,256,73,173,10,0,13,186,43,9,5,...,15,8,10,5,12,6,12,26,22,27
서울성동,213,66,132,15,0,17,154,28,7,7,...,9,12,6,9,11,10,16,26,20,11
서울성북,221,66,143,12,0,9,178,20,12,2,...,8,12,3,6,14,11,10,33,25,9
서울송파,712,204,469,39,0,21,521,108,42,20,...,22,28,26,31,39,34,39,59,77,51
서울수서,487,147,301,39,0,9,374,65,26,13,...,15,20,21,21,22,21,24,40,46,38
서울양천,532,192,310,30,0,23,402,83,17,7,...,24,27,21,15,24,35,37,36,43,41
서울영등포,391,142,229,20,0,10,303,48,25,5,...,20,14,24,18,21,20,26,22,22,27
서울용산,218,76,134,8,0,9,154,35,17,3,...,12,12,13,11,11,21,18,19,12,8
서울은평,402,114,264,24,0,15,316,55,12,4,...,12,13,9,8,17,32,26,48,37,49
서울종로,106,22,76,8,0,2,78,21,5,0,...,5,7,4,8,5,6,8,10,8,10
서울종암,212,56,135,21,0,8,165,29,8,2,...,7,13,10,11,11,5,7,18,20,23
서울중랑,688,230,408,48,1,42,534,85,20,7,...,18,22,36,34,28,31,42,55,68,70
서울중부,106,32,66,8,0,7,81,17,1,0,...,5,6,10,6,1,3,5,8,4,7
서울청,15,7,8,0,0,0,10,5,0,0,...,0,0,2,4,1,0,1,1,1,2
서울혜화,76,15,53,8,0,4,59,8,5,0,...,5,7,2,3,3,5,2,7,9,3

In [9]:
seoul_20.to_csv('20_seoul.csv',encoding='euc-kr')

In [10]:
# 2020 부산

In [11]:
busan_20=df.loc[['부산강서',
'부산금정',
'부산기장',
'부산남부',
'부산동래',
'부산동부',
'부산북부',
'부산사상',
'부산사하',
'부산서부',
'부산연제',
'부산영도',
'부산중부',
'부산진',
'부산청',
'부산해운대'
],:]
busan_20

,신고건수,신고성별(남자),신고성별(여자),신고성별(불상),신고 성별(기타),접수긴급유형(긴급),접수긴급유형(중요),접수긴급유형(일반),접수긴급유형(민원),접수긴급유형(기타),...,발생시간대(14),발생시간대(15),발생시간대(16),발생시간대(17),발생시간대(18),발생시간대(19),발생시간대(20),발생시간대(21),발생시간대(22),발생시간대(23)
경찰서명,,,,,,,,,,,,,,,,,,,,,
부산강서,141,42,88,11,0,9,88,30,12,2,...,4,2,4,3,11,16,8,9,13,13
부산금정,136,33,100,3,0,5,101,20,2,8,...,3,4,6,8,5,5,7,9,17,25
부산기장,245,58,162,25,0,20,151,61,10,3,...,5,16,4,9,7,16,21,30,23,7
부산남부,408,115,276,17,0,14,297,81,7,9,...,16,8,9,12,7,22,43,34,32,33
부산동래,224,70,149,5,0,6,153,59,4,2,...,7,7,8,7,8,13,18,25,25,13
부산동부,65,20,42,3,0,2,43,19,0,1,...,2,2,2,1,2,11,4,5,9,7
부산북부,228,62,157,9,0,21,158,44,3,2,...,2,11,5,6,14,14,14,23,20,21
부산사상,252,73,157,22,0,10,182,51,5,4,...,6,16,12,6,6,16,15,28,35,20
부산사하,331,83,220,28,0,14,216,81,6,14,...,12,9,14,15,13,13,13,36,37,33
부산서부,85,24,60,1,0,4,63,15,1,2,...,2,4,2,2,6,5,4,8,8,11
부산연제,246,73,163,10,0,13,169,54,3,7,...,5,6,7,11,9,22,27,20,20,26
부산영도,170,67,94,9,0,9,126,26,5,4,...,7,1,4,12,7,19,11,8,11,17
부산중부,31,4,25,2,0,0,25,5,0,1,...,2,2,0,3,3,3,1,1,1,3
부산진,360,121,221,17,0,11,220,111,8,10,...,10,8,9,9,17,26,27,34,38,40
부산청,11,0,1,10,0,0,5,6,0,0,...,0,0,1,0,1,0,0,0,0,0
부산해운대,501,160,326,15,0,18,335,126,12,10,...,8,13,12,18,16,37,33,45,61,34

In [12]:
busan_20.to_csv('20_busan.csv',encoding='euc-kr')

In [13]:
# 2020 대구

In [14]:
daegu_20=df.loc[['대구강북',
'대구남부',
'대구달서',
'대구달성',
'대구동부',
'대구북부',
'대구서부',
'대구성서',
'대구수성',
'대구중부',
'대구청'
],:]
daegu_20

,신고건수,신고성별(남자),신고성별(여자),신고성별(불상),신고 성별(기타),접수긴급유형(긴급),접수긴급유형(중요),접수긴급유형(일반),접수긴급유형(민원),접수긴급유형(기타),...,발생시간대(14),발생시간대(15),발생시간대(16),발생시간대(17),발생시간대(18),발생시간대(19),발생시간대(20),발생시간대(21),발생시간대(22),발생시간대(23)
경찰서명,,,,,,,,,,,,,,,,,,,,,
대구강북,365,122,220,23,0,7,299,40,8,11,...,16,17,11,17,13,24,23,26,27,35
대구남부,215,68,128,19,0,2,159,39,5,10,...,13,8,11,17,11,11,10,16,10,16
대구달서,414,147,255,12,0,10,336,41,12,15,...,26,21,12,24,13,17,18,35,38,33
대구달성,371,126,216,29,0,6,311,41,8,5,...,9,10,11,12,17,15,23,38,37,27
대구동부,425,125,280,20,0,4,298,51,7,65,...,16,25,28,30,22,29,22,28,32,37
대구북부,329,107,214,8,0,4,271,35,7,12,...,5,13,10,7,20,33,30,33,33,17
대구서부,303,91,200,12,0,6,246,31,6,14,...,9,10,11,8,12,12,20,21,31,32
대구성서,326,89,216,21,0,3,257,41,9,16,...,8,15,7,20,11,18,28,25,16,29
대구수성,498,158,309,31,0,10,404,54,8,22,...,12,19,17,18,30,34,31,46,41,36
대구중부,80,24,51,5,0,2,62,10,0,6,...,5,7,1,1,3,3,5,5,5,10
대구청,3,0,3,0,0,1,2,0,0,0,...,0,0,0,0,0,2,0,0,0,0

In [15]:
daegu_20.to_csv('20_daegu.csv',encoding='euc-kr')

In [16]:
# 2020 인천

In [17]:
incheon_20=df.loc[['인천강화',
'인천계양',
'인천국제공항경찰단',
'인천남동',
'인천논현',
'인천미추홀',
'인천부평',
'인천삼산',
'인천서부',
'인천연수',
'인천중부',
'인천청'
],:]
incheon_20

,신고건수,신고성별(남자),신고성별(여자),신고성별(불상),신고 성별(기타),접수긴급유형(긴급),접수긴급유형(중요),접수긴급유형(일반),접수긴급유형(민원),접수긴급유형(기타),...,발생시간대(14),발생시간대(15),발생시간대(16),발생시간대(17),발생시간대(18),발생시간대(19),발생시간대(20),발생시간대(21),발생시간대(22),발생시간대(23)
경찰서명,,,,,,,,,,,,,,,,,,,,,
인천강화,66,36,27,3,0,2,29,29,4,2,...,4,4,3,0,0,5,5,5,4,6
인천계양,421,174,225,22,0,11,186,204,15,5,...,6,6,15,15,19,23,24,41,40,36
인천국제공항경찰단,3,0,1,2,0,0,1,2,0,0,...,0,0,0,0,0,0,0,0,0,0
인천남동,567,209,322,36,0,13,251,292,8,3,...,28,18,22,14,28,22,32,45,55,62
인천논현,453,179,245,29,0,12,227,202,5,7,...,13,19,23,13,17,25,29,38,52,48
인천미추홀,1051,334,621,96,0,23,427,563,32,6,...,22,49,47,27,48,50,70,92,107,79
인천부평,423,153,248,22,0,12,183,209,12,7,...,14,14,9,14,14,26,27,40,45,41
인천삼산,561,196,328,37,0,12,250,275,21,3,...,12,16,19,26,38,25,32,53,56,47
인천서부,1085,316,712,57,0,28,451,552,47,7,...,37,47,45,32,54,66,60,89,77,92
인천연수,515,179,303,33,0,21,231,240,18,5,...,19,20,17,25,25,29,43,34,49,40
인천중부,328,112,197,19,0,12,131,171,10,4,...,15,13,17,17,17,22,15,34,26,18
인천청,6,0,6,0,0,0,6,0,0,0,...,1,0,0,1,0,0,1,1,0,0

In [18]:
incheon_20.to_csv('20_incheon.csv',encoding='euc-kr')

In [19]:
# 2020 광주

In [20]:
gwangju_20=df.loc[['광주',
'광주광산',
'광주남부',
'광주동부',
'광주북부',
'광주서부',
'광주청'
],:]
gwangju_20

,신고건수,신고성별(남자),신고성별(여자),신고성별(불상),신고 성별(기타),접수긴급유형(긴급),접수긴급유형(중요),접수긴급유형(일반),접수긴급유형(민원),접수긴급유형(기타),...,발생시간대(14),발생시간대(15),발생시간대(16),발생시간대(17),발생시간대(18),발생시간대(19),발생시간대(20),발생시간대(21),발생시간대(22),발생시간대(23)
경찰서명,,,,,,,,,,,,,,,,,,,,,
광주,719,255,415,49,0,24,565,100,20,10,...,17,19,18,29,49,55,62,55,64,68
광주광산,372,107,249,16,0,7,308,44,7,6,...,8,9,10,11,18,28,27,39,44,39
광주남부,201,58,129,14,0,2,167,24,3,5,...,8,3,7,9,11,14,22,15,18,18
광주동부,108,43,64,1,0,2,88,12,2,4,...,3,5,6,8,9,6,4,11,11,7
광주북부,380,126,238,16,0,5,307,50,5,13,...,22,19,9,8,16,16,23,36,34,30
광주서부,301,78,198,25,0,3,248,35,8,7,...,7,8,5,9,4,14,12,21,14,30
광주청,2,1,1,0,0,0,1,1,0,0,...,1,0,0,0,0,0,0,0,0,0

In [21]:
gwangju_20.to_csv('20_gwangju.csv',encoding='euc-kr')

In [22]:
# 2020 대전

In [23]:
daejeon_20=df.loc[['대전대덕',
'대전동부',
'대전둔산',
'대전서부',
'대전유성',
'대전중부',
'대전청'
],:]
daejeon_20

,신고건수,신고성별(남자),신고성별(여자),신고성별(불상),신고 성별(기타),접수긴급유형(긴급),접수긴급유형(중요),접수긴급유형(일반),접수긴급유형(민원),접수긴급유형(기타),...,발생시간대(14),발생시간대(15),발생시간대(16),발생시간대(17),발생시간대(18),발생시간대(19),발생시간대(20),발생시간대(21),발생시간대(22),발생시간대(23)
경찰서명,,,,,,,,,,,,,,,,,,,,,
대전대덕,262,95,154,13,0,3,177,64,14,4,...,12,9,10,9,13,12,15,30,26,24
대전동부,339,110,221,8,0,5,228,82,11,13,...,14,11,12,19,16,16,25,18,37,23
대전둔산,308,109,183,16,0,2,189,92,6,19,...,19,14,11,8,10,16,19,20,31,22
대전서부,460,134,311,15,0,2,294,119,25,20,...,14,20,24,17,19,29,37,55,33,39
대전유성,357,114,223,20,0,14,212,94,20,17,...,13,6,12,16,14,19,27,37,32,33
대전중부,340,113,213,14,0,6,211,91,18,14,...,22,9,8,16,21,21,16,39,26,36
대전청,4,1,2,1,0,0,2,1,1,0,...,0,0,0,0,0,0,0,1,0,0

In [24]:
daejeon_20.to_csv('20_daejeon.csv',encoding='euc-kr')

In [25]:
# 2020 울산

In [26]:
ulsan_20=df.loc[['울산남부',
'울산동부',
'울산울주',
'울산중부',
'울산청'
],:]
ulsan_20

,신고건수,신고성별(남자),신고성별(여자),신고성별(불상),신고 성별(기타),접수긴급유형(긴급),접수긴급유형(중요),접수긴급유형(일반),접수긴급유형(민원),접수긴급유형(기타),...,발생시간대(14),발생시간대(15),발생시간대(16),발생시간대(17),발생시간대(18),발생시간대(19),발생시간대(20),발생시간대(21),발생시간대(22),발생시간대(23)
경찰서명,,,,,,,,,,,,,,,,,,,,,
울산남부,518,167,307,44,0,7,393,80,17,21,...,21,16,25,31,22,32,35,31,32,41
울산동부,268,68,176,23,1,7,183,58,17,3,...,9,8,11,9,16,11,19,19,28,9
울산울주,303,84,202,17,0,3,217,62,16,5,...,12,16,11,9,20,16,16,30,27,27
울산중부,438,118,292,28,0,11,318,80,18,11,...,19,24,17,25,21,21,37,21,46,27
울산청,3,1,2,0,0,0,2,1,0,0,...,2,0,0,0,0,0,0,0,0,0

In [27]:
ulsan_20.to_csv('20_ulsan.csv',encoding='euc-kr')

In [28]:
# 2020 경기

In [29]:
gyeonggi_20=df.loc[['가평',
'경기남부청',
'경기북부청',
'고양',
'과천',
'광명',
'구리',
'군포',
'김포',
'남양주',
'동두천',
'부천소사',
'부천오정',
'부천원미',
'분당',
'성남수정',
'성남중원',
'수원남부',
'수원서부',
'수원중부',
'시흥',
'안산단원',
'안산상록',
'안성',
'안양동안',
'안양만안',
'양주',
'양평',
'여주',
'연천',
'오산',
'용인동부',
'용인서부',
'의왕',
'의정부',
'이천',
'일산동부',
'일산서부',
'파주',
'평택',
'포천',
'하남',
'화성동탄',
'화성서부',
],:]
gyeonggi_20

,신고건수,신고성별(남자),신고성별(여자),신고성별(불상),신고 성별(기타),접수긴급유형(긴급),접수긴급유형(중요),접수긴급유형(일반),접수긴급유형(민원),접수긴급유형(기타),...,발생시간대(14),발생시간대(15),발생시간대(16),발생시간대(17),발생시간대(18),발생시간대(19),발생시간대(20),발생시간대(21),발생시간대(22),발생시간대(23)
경찰서명,,,,,,,,,,,,,,,,,,,,,
가평,95,30,64,1,0,1,74,18,2,0,...,7,4,6,5,3,5,4,11,11,7
경기남부청,19,7,10,2,0,3,12,4,0,0,...,0,1,1,0,3,2,1,2,1,0
경기북부청,5,0,5,0,0,0,4,0,1,0,...,2,0,0,1,0,1,0,0,0,0
고양,595,203,351,41,0,16,473,70,21,15,...,25,15,35,43,24,34,39,45,47,48
과천,57,12,40,5,0,2,48,6,0,1,...,0,1,3,1,4,6,4,3,4,4
광명,536,175,313,48,0,17,439,67,9,4,...,14,22,25,14,21,29,41,48,43,39
구리,236,74,154,8,0,1,197,27,6,5,...,9,11,2,10,8,12,19,25,21,14
군포,289,80,173,36,0,8,226,34,17,4,...,10,9,7,8,14,16,20,18,37,21
김포,782,254,489,39,0,19,612,123,19,9,...,16,35,21,28,26,38,51,61,83,52
남양주,403,123,258,22,0,4,338,46,8,7,...,16,20,17,17,16,21,19,35,41,35
동두천,168,62,100,6,0,0,144,23,0,1,...,5,3,10,3,9,13,6,10,13,22
부천소사,431,146,265,20,0,10,323,82,12,4,...,13,6,26,19,20,24,26,43,43,39
부천오정,403,132,240,31,0,10,314,64,11,4,...,10,9,17,16,15,20,22,36,38,45
부천원미,728,234,430,64,0,18,553,133,18,6,...,19,24,27,30,38,50,49,44,66,47
분당,502,183,298,21,0,14,412,56,17,3,...,21,17,16,27,22,29,35,38,49,45
성남수정,457,170,257,30,0,6,358,69,18,6,...,12,15,9,18,18,29,32,39,54,31
성남중원,413,155,228,30,0,13,327,58,12,3,...,16,17,10,10,27,20,39,38,35,30
수원남부,552,169,331,52,0,13,450,57,22,10,...,21,19,18,20,14,43,38,41,74,43
수원서부,484,166,290,28,0,10,395,68,9,2,...,9,19,16,31,34,25,25,32,38,39
수원중부,795,331,405,58,1,22,602,136,19,16,...,24,23,34,20,35,49,51,80,89,72
시흥,778,250,471,57,0,21,588,119,29,21,...,29,23,24,33,32,52,62,74,66,69
안산단원,663,233,380,50,0,13,506,123,13,8,...,15,15,18,31,27,28,47,56,65,73
안산상록,740,241,441,58,0,8,576,125,26,5,...,14,22,22,18,38,39,55,64,57,80
안성,290,87,188,15,0,13,237,29,7,4,...,7,8,11,10,15,17,13,29,28,26
안양동안,288,100,179,9,0,4,231,41,8,4,...,11,5,10,14,12,13,15,18,27,31
안양만안,405,127,246,32,0,6,324,61,14,0,...,7,18,11,32,9,20,31,28,32,33
양주,361,107,241,13,0,7,292,44,12,6,...,5,18,6,14,14,27,22,41,32,32
양평,156,45,108,3,0,8,126,15,6,1,...,7,5,11,12,7,10,14,7,14,8
여주,175,48,122,5,0,8,134,28,5,0,...,4,10,6,6,8,15,11,8,14,19
연천,51,17,32,2,0,1,41,8,0,1,...,0,3,1,3,4,8,4,2,2,3
오산,472,138,278,56,0,6,391,51,14,10,...,20,20,19,15,14,19,23,57,49,44
용인동부,814,243,519,51,0,22,662,87,30,13,...,27,20,34,33,40,46,60,80,82,55
용인서부,525,150,320,55,0,9,438,63,8,7,...,32,23,19,5,13,31,28,42,45,48
의왕,116,25,83,8,0,1,94,15,5,1,...,5,1,6,5,8,6,7,9,26,8
의정부,761,219,502,40,0,18,592,107,26,18,...,17,29,33,29,46,50,56,68,74,69
이천,350,131,189,30,0,20,250,58,17,5,...,6,11,20,29,20,15,20,37,42,26
일산동부,369,109,238,22,0,6,304,38,11,10,...,11,8,12,15,22,18,29,35,39,40
일산서부,312,92,203,17,0,10,242,41,12,7,...,15,12,12,7,13,16,28,36,31,26
파주,562,162,351,49,0,17,467,61,10,7,...,11,18,20,24,24,29,51,48,47,49
평택,1156,391,701,64,0,23,886,192,40,15,...,36,30,32,56,60,76,90,104,97,112
포천,191,56,114,21,0,3,151,28,8,1,...,4,3,5,10,15,12,11,13,23,19
하남,429,133,270,26,0,14,319,70,20,6,...,16,14,12,10,19,26,40,30,55,45
화성동탄,811,262,493,56,0,23,638,105,26,19,...,34,31,30,36,44,30,64,65,78,60
화성서부,491,138,336,17,0,10,405,60,7,9,...,17,11,15,13,20,36,30,45,53,42

In [30]:
gyeonggi_20.to_csv('20_gyeonggi.csv',encoding='euc-kr')

In [31]:
# 2020 강원

In [32]:
gangwon_20=df.loc[['강릉',
'강원도고성',
'강원청',
'동해',
'삼척',
'속초',
'양구',
'영월',
'원주',
'인제',
'정선',
'철원',
'춘천',
'태백',
'평창',
'홍천',
'화천',
'횡성'
],:]
gangwon_20

,신고건수,신고성별(남자),신고성별(여자),신고성별(불상),신고 성별(기타),접수긴급유형(긴급),접수긴급유형(중요),접수긴급유형(일반),접수긴급유형(민원),접수긴급유형(기타),...,발생시간대(14),발생시간대(15),발생시간대(16),발생시간대(17),발생시간대(18),발생시간대(19),발생시간대(20),발생시간대(21),발생시간대(22),발생시간대(23)
경찰서명,,,,,,,,,,,,,,,,,,,,,
강릉,360,121,217,22,0,7,258,81,10,4,...,19,16,20,13,11,28,13,31,36,21
강원도고성,18,11,7,0,0,0,9,9,0,0,...,1,1,1,1,1,2,0,1,1,5
강원청,4,1,2,1,0,0,1,1,2,0,...,0,0,0,0,2,0,0,0,1,0
동해,174,70,98,6,0,3,104,51,9,7,...,10,8,4,15,14,13,9,9,8,7
삼척,110,31,75,4,0,3,74,29,3,1,...,1,5,2,2,5,5,10,10,9,13
속초,131,31,91,9,0,1,92,32,2,4,...,3,9,5,1,5,9,11,10,9,11
양구,16,6,9,1,0,0,12,4,0,0,...,1,1,0,0,2,1,1,1,0,0
영월,43,8,31,4,0,0,23,13,6,1,...,0,5,1,2,4,1,5,3,7,1
원주,583,173,387,23,0,4,407,136,21,15,...,15,23,19,25,19,34,40,42,58,54
인제,30,12,18,0,0,0,23,4,3,0,...,1,1,2,1,0,7,2,0,3,8
정선,56,15,35,6,0,2,34,12,5,3,...,1,3,2,1,6,2,5,7,7,6
철원,50,19,31,0,0,3,38,6,2,1,...,1,0,1,3,5,6,3,10,2,5
춘천,326,104,209,13,0,9,219,81,11,6,...,6,8,10,14,18,19,29,30,21,32
태백,51,9,36,6,0,0,35,11,4,1,...,1,0,2,1,2,4,3,3,6,7
평창,21,5,14,2,0,0,14,6,1,0,...,0,0,0,0,3,0,4,2,3,2
홍천,81,26,51,4,0,4,49,18,7,3,...,3,2,3,3,0,8,8,5,9,8
화천,11,3,8,0,0,0,6,5,0,0,...,0,0,2,0,1,0,0,1,0,0
횡성,43,21,21,1,0,0,27,9,6,1,...,5,0,4,0,5,1,5,3,2,2

In [33]:
gangwon_20.to_csv('20_gangwon.csv',encoding='euc-kr')

In [34]:
# 2020 충북

In [35]:
chungbuk_20=df.loc[['괴산',
'단양',
'보은',
'영동',
'옥천',
'음성',
'제천',
'진천',
'청주상당',
'청주청원',
'청주흥덕',
'충북청',
'충주'
],:]
chungbuk_20

,신고건수,신고성별(남자),신고성별(여자),신고성별(불상),신고 성별(기타),접수긴급유형(긴급),접수긴급유형(중요),접수긴급유형(일반),접수긴급유형(민원),접수긴급유형(기타),...,발생시간대(14),발생시간대(15),발생시간대(16),발생시간대(17),발생시간대(18),발생시간대(19),발생시간대(20),발생시간대(21),발생시간대(22),발생시간대(23)
경찰서명,,,,,,,,,,,,,,,,,,,,,
괴산,52,9,43,0,0,1,36,9,2,4,...,5,5,2,2,3,4,1,3,8,3
단양,19,8,11,0,0,0,15,4,0,0,...,0,0,0,0,0,2,1,0,5,0
보은,25,5,19,1,0,3,19,3,0,0,...,1,0,1,1,0,0,4,1,4,4
영동,37,10,24,3,0,0,27,6,3,1,...,1,0,1,3,7,2,3,1,4,2
옥천,50,12,31,7,0,1,37,11,0,1,...,3,0,1,1,2,4,5,7,5,6
음성,147,44,96,7,0,3,99,42,1,2,...,9,4,4,4,7,11,10,20,15,11
제천,182,62,115,5,0,3,144,31,2,2,...,5,8,11,12,13,11,19,8,9,12
진천,43,12,29,2,0,0,31,7,5,0,...,2,3,0,5,4,3,6,3,3,1
청주상당,389,138,236,15,0,10,286,72,15,6,...,13,15,10,13,29,28,25,24,34,20
청주청원,307,94,202,11,0,5,231,53,13,5,...,9,15,9,6,10,24,22,21,25,23
청주흥덕,383,123,230,30,0,3,273,77,19,11,...,9,18,9,17,23,23,21,31,35,29
충북청,4,2,1,1,0,0,4,0,0,0,...,0,0,0,0,0,1,1,0,0,1
충주,289,117,157,15,0,2,227,48,5,7,...,10,4,9,14,7,35,22,36,33,21

In [36]:
chungbuk_20.to_csv('20_chungbuk.csv',encoding='euc-kr')

In [37]:
# 2020 충남

In [38]:
chungnam_20=df.loc[['공주',
'금산',
'논산',
'당진',
'보령',
'부여',
'서산',
'서천',
'아산',
'예산',
'천안동남',
'천안서북',
'청양',
'충남청',
'태안',
'홍성'
],:]
chungnam_20

,신고건수,신고성별(남자),신고성별(여자),신고성별(불상),신고 성별(기타),접수긴급유형(긴급),접수긴급유형(중요),접수긴급유형(일반),접수긴급유형(민원),접수긴급유형(기타),...,발생시간대(14),발생시간대(15),발생시간대(16),발생시간대(17),발생시간대(18),발생시간대(19),발생시간대(20),발생시간대(21),발생시간대(22),발생시간대(23)
경찰서명,,,,,,,,,,,,,,,,,,,,,
공주,95,34,55,6,0,4,72,16,3,0,...,4,2,5,5,9,15,11,5,5,5
금산,38,14,23,1,0,1,29,6,2,0,...,1,1,3,1,4,5,5,5,2,0
논산,203,74,125,4,0,5,162,27,5,4,...,9,6,6,17,21,9,12,23,18,13
당진,169,57,95,17,0,1,130,36,0,2,...,6,3,11,5,9,8,11,16,12,15
보령,127,42,77,8,0,6,92,25,2,2,...,7,3,2,3,14,7,13,11,18,11
부여,62,22,36,4,0,1,49,12,0,0,...,2,13,2,0,0,4,4,11,6,7
서산,270,91,172,7,0,2,211,44,11,2,...,15,11,16,10,18,10,19,24,28,22
서천,47,9,37,1,0,2,36,6,2,1,...,0,0,0,3,5,3,3,14,3,2
아산,383,135,239,9,0,8,290,71,11,3,...,15,9,19,18,31,21,20,34,47,27
예산,91,35,54,2,0,1,64,20,5,1,...,3,3,6,4,5,10,2,10,14,6
천안동남,400,113,263,24,0,4,305,78,6,7,...,18,17,20,18,24,17,27,26,32,40
천안서북,551,144,364,43,0,5,410,109,19,8,...,24,22,18,17,32,27,33,55,48,31
청양,18,6,12,0,0,1,10,7,0,0,...,0,4,1,0,0,1,0,3,0,1
충남청,4,2,2,0,0,0,3,1,0,0,...,1,0,1,0,0,1,0,0,0,0
태안,86,29,52,5,0,0,77,6,2,1,...,1,2,2,7,7,7,7,4,13,6
홍성,96,38,56,2,0,3,77,8,6,2,...,1,4,1,11,7,9,7,5,7,12

In [39]:
chungnam_20.to_csv('20_chungnam.csv',encoding='euc-kr')

In [40]:
# 2020 전북

In [41]:
jeonbuk_20=df.loc[['고창',
'군산',
'김제',
'남원',
'무주',
'부안',
'순창',
'완주',
'익산',
'임실',
'장수',
'전북청',
'전주덕진',
'전주완산',
'정읍',
'진안'
],:]
jeonbuk_20

,신고건수,신고성별(남자),신고성별(여자),신고성별(불상),신고 성별(기타),접수긴급유형(긴급),접수긴급유형(중요),접수긴급유형(일반),접수긴급유형(민원),접수긴급유형(기타),...,발생시간대(14),발생시간대(15),발생시간대(16),발생시간대(17),발생시간대(18),발생시간대(19),발생시간대(20),발생시간대(21),발생시간대(22),발생시간대(23)
경찰서명,,,,,,,,,,,,,,,,,,,,,
고창,34,8,24,2,0,0,27,5,2,0,...,0,0,0,1,0,0,2,6,2,3
군산,188,69,113,6,0,6,141,31,5,5,...,12,0,5,1,8,22,12,17,21,16
김제,41,11,29,1,0,0,34,6,1,0,...,2,1,3,1,2,1,4,3,2,2
남원,75,31,42,2,0,3,49,22,1,0,...,0,3,4,2,3,9,8,10,15,2
무주,12,2,9,1,0,1,10,1,0,0,...,0,0,0,0,0,3,0,0,0,6
부안,45,7,37,1,0,2,28,14,1,0,...,0,4,1,0,2,2,2,6,7,1
순창,21,5,16,0,0,0,16,5,0,0,...,5,0,2,1,0,1,0,1,3,1
완주,59,19,31,9,0,5,39,11,4,0,...,0,5,4,3,3,4,5,11,3,3
익산,187,76,103,7,0,7,142,35,1,2,...,7,5,7,9,5,16,14,13,20,20
임실,3,0,3,0,0,0,1,2,0,0,...,0,0,0,0,0,0,0,0,3,0
장수,25,9,13,3,0,1,12,9,3,0,...,0,1,5,0,0,3,2,2,1,3
전북청,6,3,3,0,0,0,3,3,0,0,...,0,2,0,2,1,0,0,0,0,0
전주덕진,173,47,123,3,0,3,133,27,7,3,...,6,4,4,5,9,8,10,8,20,26
전주완산,224,77,137,10,0,6,166,39,7,6,...,3,9,5,9,7,14,18,19,22,17
정읍,77,27,43,7,0,2,49,20,4,2,...,2,1,5,2,4,5,14,5,7,3
진안,2,0,2,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [42]:
jeonbuk_20.to_csv('20_jeonbuk.csv',encoding='euc-kr')

In [43]:
# 2020 전남

In [44]:
jeonnam_20=df.loc[['강진',
'고흥',
'곡성',
'광양',
'구례',
'나주',
'담양',
'목포',
'무안',
'보성',
'순천',
'여수',
'영광',
'영암',
'완도',
'장성',
'장흥',
'전남청',
'진도',
'해남',
'화순'
],:]
jeonnam_20

,신고건수,신고성별(남자),신고성별(여자),신고성별(불상),신고 성별(기타),접수긴급유형(긴급),접수긴급유형(중요),접수긴급유형(일반),접수긴급유형(민원),접수긴급유형(기타),...,발생시간대(14),발생시간대(15),발생시간대(16),발생시간대(17),발생시간대(18),발생시간대(19),발생시간대(20),발생시간대(21),발생시간대(22),발생시간대(23)
경찰서명,,,,,,,,,,,,,,,,,,,,,
강진,34,14,20,0,0,1,24,9,0,0,...,4,1,0,2,4,2,2,2,0,0
고흥,64,19,43,2,0,1,51,12,0,0,...,3,1,2,1,6,4,2,4,13,5
곡성,13,1,12,0,0,0,11,2,0,0,...,0,0,0,0,2,1,3,2,0,1
광양,178,51,114,13,0,4,135,29,9,1,...,4,8,1,2,6,17,14,21,15,19
구례,21,8,13,0,0,1,16,4,0,0,...,2,1,1,0,2,0,2,4,0,2
나주,120,30,86,4,0,1,82,33,2,2,...,4,3,5,2,8,8,8,14,9,10
담양,22,4,16,2,0,0,18,4,0,0,...,0,1,2,3,0,2,0,1,1,2
목포,397,122,258,17,0,4,295,83,11,4,...,15,14,7,18,30,24,21,34,52,38
무안,93,21,70,2,0,1,71,14,5,2,...,4,4,2,4,4,5,7,11,8,11
보성,29,7,20,2,0,0,24,4,1,0,...,0,0,1,3,0,0,4,3,2,5
순천,375,121,236,18,0,4,297,62,10,2,...,16,13,7,15,16,24,39,30,42,34
여수,419,142,255,22,0,9,310,86,12,2,...,8,13,6,13,28,25,23,34,48,60
영광,49,16,33,0,0,0,42,6,1,0,...,1,0,1,3,2,0,10,2,4,7
영암,42,11,30,1,0,1,30,5,6,0,...,3,0,0,0,2,3,1,2,6,6
완도,39,9,28,2,0,1,29,6,1,2,...,1,0,0,0,3,4,3,4,5,8
장성,27,12,15,0,0,1,21,5,0,0,...,0,0,2,1,2,0,2,3,1,2
장흥,40,21,15,4,0,0,29,11,0,0,...,0,0,2,0,3,1,2,3,3,6
전남청,2,1,1,0,0,0,1,1,0,0,...,0,1,0,0,0,1,0,0,0,0
진도,22,3,19,0,0,0,19,3,0,0,...,0,2,0,1,2,3,4,2,2,1
해남,53,15,36,2,0,2,41,10,0,0,...,1,1,2,0,0,3,8,6,2,9
화순,55,22,32,1,0,0,40,8,6,1,...,3,2,1,2,0,3,6,1,5,3

In [45]:
jeonnam_20.to_csv('20_jeonnam.csv',encoding='euc-kr')

In [46]:
# 2020 경북

In [47]:
gyeongbuk_20=df.loc[['경북청',
'경산',
'경주',
'고령',
'구미',
'군위',
'김천',
'문경',
'봉화',
'상주',
'성주',
'안동',
'영덕',
'영양',
'영주',
'영천',
'예천',
'울릉',
'울진',
'의성',
'청도',
'청송',
'칠곡',
'포항남부',
'포항북부'
],:]
gyeongbuk_20

,신고건수,신고성별(남자),신고성별(여자),신고성별(불상),신고 성별(기타),접수긴급유형(긴급),접수긴급유형(중요),접수긴급유형(일반),접수긴급유형(민원),접수긴급유형(기타),...,발생시간대(14),발생시간대(15),발생시간대(16),발생시간대(17),발생시간대(18),발생시간대(19),발생시간대(20),발생시간대(21),발생시간대(22),발생시간대(23)
경찰서명,,,,,,,,,,,,,,,,,,,,,
경북청,12,6,6,0,0,0,8,4,0,0,...,1,2,1,5,0,0,0,0,1,1
경산,271,93,154,24,0,3,159,91,12,6,...,7,10,3,9,9,13,24,21,24,26
경주,252,64,162,26,0,5,127,109,9,2,...,7,11,5,8,13,23,18,18,19,23
고령,12,5,7,0,0,0,9,3,0,0,...,0,0,3,1,0,2,2,0,1,1
구미,463,156,279,28,0,6,260,173,16,8,...,13,16,18,15,15,27,37,37,44,42
군위,14,4,9,1,0,0,9,5,0,0,...,0,0,0,1,0,0,2,1,0,6
김천,154,37,109,8,0,2,93,46,7,6,...,5,4,8,8,9,10,10,16,19,15
문경,51,18,32,1,0,0,32,18,1,0,...,2,2,7,5,2,5,2,3,3,1
봉화,32,7,25,0,0,1,18,8,5,0,...,0,0,0,2,1,0,2,9,2,2
상주,93,27,65,1,0,0,53,35,3,2,...,1,2,4,2,4,13,9,9,14,8
성주,28,11,17,0,0,0,17,9,2,0,...,0,0,1,1,3,2,1,3,0,2
안동,142,42,96,4,0,4,89,45,2,2,...,2,3,3,4,5,12,16,6,16,4
영덕,19,3,14,2,0,0,13,5,1,0,...,0,0,2,1,1,0,2,3,3,0
영양,16,1,15,0,0,0,9,5,1,1,...,2,0,1,2,3,0,1,1,0,2
영주,61,15,43,3,0,2,32,25,1,1,...,1,3,5,1,1,5,7,3,8,3
영천,88,32,52,4,0,3,43,37,1,4,...,4,1,2,4,3,6,6,10,6,7
예천,27,15,11,1,0,1,16,9,0,1,...,2,2,4,0,1,1,2,1,3,0
울릉,4,2,2,0,0,0,3,1,0,0,...,1,0,0,0,0,0,0,0,0,1
울진,37,12,22,3,0,0,23,14,0,0,...,0,4,0,3,1,5,5,6,5,4
의성,26,8,17,1,0,0,15,7,2,2,...,0,0,5,0,2,1,1,0,1,0
청도,30,11,17,2,0,0,17,11,1,1,...,1,0,1,2,1,2,1,4,2,4
청송,8,3,5,0,0,0,2,6,0,0,...,0,0,0,0,1,1,0,0,1,0
칠곡,120,53,60,7,0,2,73,39,3,3,...,3,0,6,6,9,5,11,9,12,8
포항남부,297,117,166,14,0,11,151,113,14,8,...,13,14,21,10,14,22,24,23,30,18
포항북부,286,80,190,16,0,3,150,112,17,4,...,7,6,11,22,20,9,17,22,22,33

In [48]:
gyeongbuk_20.to_csv('20_gyeongbuk.csv',encoding='euc-kr')

In [49]:
# 2020 경남

In [50]:
gyeongnam_20=df.loc[['거제',
'거창',
'경남청',
'경상남도고성',
'김해서부',
'김해중부',
'남해',
'마산동부',
'마산중부',
'밀양',
'사천',
'산청',
'양산',
'의령',
'진주',
'진해',
'창녕',
'창원서부',
'창원중부',
'통영',
'하동',
'함안',
'함양',
'함평',
'합천'
],:]
gyeongnam_20

,신고건수,신고성별(남자),신고성별(여자),신고성별(불상),신고 성별(기타),접수긴급유형(긴급),접수긴급유형(중요),접수긴급유형(일반),접수긴급유형(민원),접수긴급유형(기타),...,발생시간대(14),발생시간대(15),발생시간대(16),발생시간대(17),발생시간대(18),발생시간대(19),발생시간대(20),발생시간대(21),발생시간대(22),발생시간대(23)
경찰서명,,,,,,,,,,,,,,,,,,,,,
거제,379,109,241,29,0,15,257,80,21,6,...,18,7,16,11,19,29,24,36,44,28
거창,62,19,42,1,0,2,44,15,1,0,...,1,1,1,2,4,7,3,2,8,6
경남청,6,1,5,0,0,1,1,3,1,0,...,0,0,0,1,3,2,0,0,0,0
경상남도고성,27,9,17,1,0,2,20,4,1,0,...,0,1,0,1,3,1,1,1,1,3
김해서부,281,66,199,16,0,18,188,60,14,1,...,10,13,20,13,9,16,22,40,21,19
김해중부,389,129,241,19,0,20,240,96,22,11,...,19,18,10,14,19,18,33,28,54,30
남해,16,7,8,1,0,2,12,2,0,0,...,0,2,1,0,1,3,0,2,4,1
마산동부,193,66,122,5,0,8,126,47,9,3,...,10,5,7,10,7,12,13,18,24,16
마산중부,166,53,110,3,0,9,114,33,7,3,...,9,7,6,13,4,10,9,12,19,11
밀양,85,33,44,8,0,6,50,23,5,1,...,3,1,4,3,4,3,10,12,11,5
사천,174,65,100,9,0,6,118,39,10,1,...,11,13,6,4,5,5,12,17,15,16
산청,3,0,3,0,0,0,2,1,0,0,...,0,2,0,0,0,0,0,0,0,0
양산,511,170,308,32,1,31,337,106,29,8,...,18,17,23,17,29,34,37,44,39,40
의령,13,3,10,0,0,0,11,2,0,0,...,0,1,0,2,1,1,1,1,1,1
진주,456,156,267,33,0,24,303,106,21,2,...,20,16,26,16,8,24,29,46,27,54
진해,185,60,112,13,0,12,133,31,8,1,...,7,8,7,6,10,10,12,22,15,17
창녕,55,14,40,1,0,7,32,15,0,1,...,3,2,1,2,2,1,8,1,1,7
창원서부,228,56,162,10,0,10,153,40,19,6,...,9,12,5,7,11,15,16,16,22,32
창원중부,193,49,132,12,0,7,136,39,10,1,...,10,11,6,5,11,17,11,12,23,22
통영,204,68,127,9,0,14,138,40,11,1,...,14,7,3,6,6,11,15,20,24,21
하동,24,7,16,1,0,2,17,4,1,0,...,2,1,2,1,0,2,4,1,2,3
함안,39,11,26,2,0,2,20,14,1,2,...,1,1,1,2,0,0,6,1,5,4
함양,31,13,18,0,0,0,22,5,3,1,...,0,1,1,0,5,2,2,2,5,4
함평,30,15,15,0,0,0,25,5,0,0,...,1,1,2,3,1,4,3,2,6,0
합천,26,5,20,1,0,3,16,6,1,0,...,1,0,1,2,2,3,1,3,0,1

In [51]:
gyeongnam_20.to_csv('20_gyeongnam.csv',encoding='euc-kr')

In [52]:
# 2020 제주

In [53]:
jeju_20=df.loc[['서귀포',
'제주동부',
'제주서부',
'제주자치경찰단',
'제주청'
],:]
jeju_20

,신고건수,신고성별(남자),신고성별(여자),신고성별(불상),신고 성별(기타),접수긴급유형(긴급),접수긴급유형(중요),접수긴급유형(일반),접수긴급유형(민원),접수긴급유형(기타),...,발생시간대(14),발생시간대(15),발생시간대(16),발생시간대(17),발생시간대(18),발생시간대(19),발생시간대(20),발생시간대(21),발생시간대(22),발생시간대(23)
경찰서명,,,,,,,,,,,,,,,,,,,,,
서귀포,218,72,142,4,0,5,164,37,8,4,...,9,4,14,5,11,10,22,13,26,25
제주동부,358,116,235,7,0,6,276,57,9,10,...,13,22,9,19,25,13,23,22,29,37
제주서부,444,125,305,14,0,12,325,68,23,16,...,17,28,13,11,18,14,30,31,28,35
제주자치경찰단,8,6,2,0,0,0,6,0,0,2,...,0,0,0,0,0,0,1,0,3,3
제주청,6,1,5,0,0,0,6,0,0,0,...,1,0,1,0,0,0,0,0,0,0

In [54]:
jeju_20.to_csv('20_jeju.csv',encoding='euc-kr')