In [ ]:
import pandas as pd

# 고혈압

In [ ]:
hypertension=pd.read_csv("폐암 합병증/lung_hypertension.csv")
hypertension

,centerNm,critYr,ptAge,ptSexCd,statsTrgtNm,ncsNmvl,wholNcsDnmvl,ptCntNmvl,wholPtCntDnmvl
0,국립암센터,2019,76,M,Y,12,21,10,18
1,국립암센터,2014,47,F,N,4,4,4,4
2,국립암센터,2012,67,M,N,16,29,14,25
3,국립암센터,2013,59,M,N,9,13,7,10
4,국립암센터,2015,76,M,N,7,14,7,12
...,...,...,...,...,...,...,...,...,...
995,국립암센터,2011,52,M,N,8,12,7,11
996,국립암센터,2015,58,M,N,5,9,4,7
997,국립암센터,2017,75,F,Y,2,7,2,5
998,국립암센터,2011,50,M,N,5,7,4,6
999,국립암센터,2013,45,F,N,1,1,1,1

In [ ]:
hyp=hypertension[['ptSexCd','statsTrgtNm']]
hyp

    ptSexCd statsTrgtNm
0         M           Y
1         F           N
2         M           N
3         M           N
4         M           N
..      ...         ...
995       M           N
996       M           N
997       F           Y
998       M           N
999       F           N

[1000 rows x 2 columns]

In [ ]:
hyp = hyp.dropna()

In [ ]:
hyp

    ptSexCd statsTrgtNm
0         M           Y
1         F           N
2         M           N
3         M           N
4         M           N
..      ...         ...
995       M           N
996       M           N
997       F           Y
998       M           N
999       F           N

[967 rows x 2 columns]

In [ ]:
def do(x):
    if x == 'M':
        return 1
    else:
        return 2

In [ ]:
def doo(x):
    if x == 'Y':
        return 1
    else:
        return 0

In [ ]:
hyp['ptSexCd'] = hyp['ptSexCd'].map(do)
hyp['statsTrgtNm'] = hyp['statsTrgtNm'].map(doo)
hyp

C:\Users\martu\AppData\Local\Temp/ipykernel_113840/3282199845.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hyp['ptSexCd'] = hyp['ptSexCd'].map(do)
C:\Users\martu\AppData\Local\Temp/ipykernel_113840/3282199845.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hyp['statsTrgtNm'] = hyp['statsTrgtNm'].map(doo)

     ptSexCd  statsTrgtNm
0          1            1
1          2            0
2          1            0
3          1            0
4          1            0
..       ...          ...
995        1            0
996        1            0
997        2            1
998        1            0
999        2            0

[967 rows x 2 columns]

In [ ]:
X = hyp[['ptSexCd']]
y = hyp[['statsTrgtNm']]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [ ]:
X_train_val, X_test_val, y_train_val, y_test_val = \
train_test_split(X_train, y_train, test_size = 0.2, random_state =42)

In [ ]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train_val, y_train_val)

LinearRegression()

In [ ]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
scaled_minmax = MinMaxScaler()
scaled_standard = StandardScaler()

In [ ]:
scaled_minmax.fit(X_train_val)
scaled_minmax_train = scaled_minmax.transform(X_train_val)

In [ ]:
scaled_standard.fit(X_train_val)
scaled_standard_train = scaled_standard.transform(X_train_val)

In [ ]:
scaled_minmax_test = scaled_minmax.transform(X_test_val)
scaled_standard_test = scaled_standard.transform(y_test_val)

In [ ]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(scaled_minmax_train, y_train_val)

LinearRegression()

In [ ]:
lr.score(scaled_minmax_test, y_test_val)

-0.0032900642521915824

In [ ]:
#RMSE
from sklearn.metrics import mean_squared_error
a_pred = lr.predict(X_test_val)

In [ ]:
a = mean_squared_error(y_test_val,a_pred)**0.5

In [ ]:
a

0.4939883655260218

# OLS

In [ ]:
import statsmodels.api as sm

In [ ]:
model = sm.OLS(y, X)
result = model.fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:            statsTrgtNm   R-squared (uncentered):                   0.401
Model:                            OLS   Adj. R-squared (uncentered):              0.400
Method:                 Least Squares   F-statistic:                              646.5
Date:                Wed, 15 Dec 2021   Prob (F-statistic):                   1.35e-109
Time:                        14:40:50   Log-Likelihood:                         -740.36
No. Observations:                 967   AIC:                                      1483.
Df Residuals:                     966   BIC:                                      1488.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
ptSexCd        0.2768      0.011     25.426      0.000       0.255       0.298
==============================================================================
Omnibus:                     4667.385   Durbin-Watson:                   1.915
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              121.928
Skew:                           0.169   Prob(JB):                     3.34e-27
Kurtosis:                       1.294   Cond. No.                         1.00
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

# 심장질환

In [ ]:
heart=pd.read_csv("폐암 합병증/lung_heart.csv")
heart

,centerNm,critYr,ptAge,ptSexCd,statsTrgtNm,ncsNmvl,wholNcsDnmvl,ptCntNmvl,wholPtCntDnmvl
0,국립암센터,2010,49,F,N,1,1,1,1
1,국립암센터,2017,79,M,Y,1,5,1,4
2,국립암센터,2016,61,M,N,11,11,9,9
3,국립암센터,2019,54,M,N,8,8,7,7
4,국립암센터,2014,83,M,N,2,2,1,1
...,...,...,...,...,...,...,...,...,...
995,국립암센터,2018,53,M,N,4,5,3,4
996,국립암센터,2012,78,F,N,3,3,3,3
997,국립암센터,2012,58,F,N,7,7,7,7
998,국립암센터,2019,64,F,Y,1,13,1,8
999,국립암센터,2019,54,F,N,3,3,3,3

In [ ]:
heart = heart[['ptSexCd','statsTrgtNm']]
heart

    ptSexCd statsTrgtNm
0         F           N
1         M           Y
2         M           N
3         M           N
4         M           N
..      ...         ...
995       M           N
996       F           N
997       F           N
998       F           Y
999       F           N

[1000 rows x 2 columns]

In [ ]:
heart = heart.dropna()
heart

    ptSexCd statsTrgtNm
0         F           N
1         M           Y
2         M           N
3         M           N
4         M           N
..      ...         ...
995       M           N
996       F           N
997       F           N
998       F           Y
999       F           N

[965 rows x 2 columns]

In [ ]:
heart['ptSexCd'] = heart['ptSexCd'].map(do)
heart['statsTrgtNm'] = heart['statsTrgtNm'].map(doo)
heart

C:\Users\martu\AppData\Local\Temp/ipykernel_113840/2826415707.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heart['ptSexCd'] = heart['ptSexCd'].map(do)
C:\Users\martu\AppData\Local\Temp/ipykernel_113840/2826415707.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heart['statsTrgtNm'] = heart['statsTrgtNm'].map(doo)

     ptSexCd  statsTrgtNm
0          2            0
1          1            1
2          1            0
3          1            0
4          1            0
..       ...          ...
995        1            0
996        2            0
997        2            0
998        2            1
999        2            0

[965 rows x 2 columns]

In [ ]:
X = heart[['ptSexCd']]
y = heart[['statsTrgtNm']]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [ ]:
X_train_val, X_test_val, y_train_val, y_test_val = \
train_test_split(X_train, y_train, test_size = 0.2, random_state =42)

In [ ]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train_val, y_train_val)

LinearRegression()

In [ ]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
scaled_minmax = MinMaxScaler()
scaled_standard = StandardScaler()

In [ ]:
scaled_minmax.fit(X_train_val)
scaled_minmax_train = scaled_minmax.transform(X_train_val)

In [ ]:
scaled_standard.fit(X_train_val)
scaled_standard_train = scaled_standard.transform(X_train_val)

In [ ]:
scaled_minmax_test = scaled_minmax.transform(X_test_val)
scaled_standard_test = scaled_standard.transform(y_test_val)

In [ ]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(scaled_minmax_train, y_train_val)

LinearRegression()

In [ ]:
lr.score(scaled_minmax_test, y_test_val)

-0.020283295263283208

In [ ]:
#RMSE
from sklearn.metrics import mean_squared_error
a_pred = lr.predict(X_test_val)

In [ ]:
a = mean_squared_error(y_test_val,a_pred)**0.5

In [ ]:
a

0.42291990914009914

In [ ]:
# OLS

In [ ]:
import statsmodels.api as sm

In [ ]:
model = sm.OLS(y, X)
result = model.fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:            statsTrgtNm   R-squared (uncentered):                   0.153
Model:                            OLS   Adj. R-squared (uncentered):              0.152
Method:                 Least Squares   F-statistic:                              173.5
Date:                Wed, 15 Dec 2021   Prob (F-statistic):                    1.46e-36
Time:                        14:41:55   Log-Likelihood:                         -530.04
No. Observations:                 965   AIC:                                      1062.
Df Residuals:                     964   BIC:                                      1067.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
ptSexCd        0.1160      0.009     13.173      0.000       0.099       0.133
==============================================================================
Omnibus:                      188.148   Durbin-Watson:                   1.833
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              315.589
Skew:                           1.400   Prob(JB):                     2.96e-69
Kurtosis:                       3.071   Cond. No.                         1.00
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

# 간질환

In [ ]:
liver=pd.read_csv("폐암 합병증/lung_liver.csv")
liver

,centerNm,critYr,ptAge,ptSexCd,statsTrgtNm,ncsNmvl,wholNcsDnmvl,ptCntNmvl,wholPtCntDnmvl
0,국립암센터,2014,65,M,N,14,14,12,12
1,국립암센터,2012,76,M,N,5,5,5,5
2,국립암센터,2019,75,M,N,20,20,15,15
3,국립암센터,2013,58,F,N,6,6,6,6
4,국립암센터,2017,67,M,N,19,19,13,13
...,...,...,...,...,...,...,...,...,...
995,국립암센터,2012,37,M,N,2,2,1,1
996,국립암센터,2014,56,M,N,7,7,7,7
997,국립암센터,2011,75,F,NaN,0,5,1,6
998,국립암센터,2014,32,F,N,1,1,1,1
999,국립암센터,2010,71,M,N,7,8,6,7

In [ ]:
liver = liver[['ptSexCd','statsTrgtNm']]
liver

    ptSexCd statsTrgtNm
0         M           N
1         M           N
2         M           N
3         F           N
4         M           N
..      ...         ...
995       M           N
996       M           N
997       F         NaN
998       F           N
999       M           N

[1000 rows x 2 columns]

In [ ]:
liver = liver.dropna()
liver

    ptSexCd statsTrgtNm
0         M           N
1         M           N
2         M           N
3         F           N
4         M           N
..      ...         ...
994       M           N
995       M           N
996       M           N
998       F           N
999       M           N

[958 rows x 2 columns]

In [ ]:
liver['ptSexCd'] = liver['ptSexCd'].map(do)
liver['statsTrgtNm'] = liver['statsTrgtNm'].map(doo)
liver

C:\Users\martu\AppData\Local\Temp/ipykernel_113840/1566935880.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liver['ptSexCd'] = liver['ptSexCd'].map(do)
C:\Users\martu\AppData\Local\Temp/ipykernel_113840/1566935880.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liver['statsTrgtNm'] = liver['statsTrgtNm'].map(doo)

     ptSexCd  statsTrgtNm
0          1            0
1          1            0
2          1            0
3          2            0
4          1            0
..       ...          ...
994        1            0
995        1            0
996        1            0
998        2            0
999        1            0

[958 rows x 2 columns]

In [ ]:
X = liver[['ptSexCd']]
y = liver[['statsTrgtNm']]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [ ]:
X_train_val, X_test_val, y_train_val, y_test_val = \
train_test_split(X_train, y_train, test_size = 0.2, random_state =42)

In [ ]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train_val, y_train_val)

LinearRegression()

In [ ]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
scaled_minmax = MinMaxScaler()
scaled_standard = StandardScaler()

In [ ]:
scaled_minmax.fit(X_train_val)
scaled_minmax_train = scaled_minmax.transform(X_train_val)

In [ ]:
scaled_standard.fit(X_train_val)
scaled_standard_train = scaled_standard.transform(X_train_val)

In [ ]:
scaled_minmax_test = scaled_minmax.transform(X_test_val)
scaled_standard_test = scaled_standard.transform(y_test_val)

In [ ]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(scaled_minmax_train, y_train_val)

LinearRegression()

In [ ]:
lr.score(scaled_minmax_test, y_test_val)

0.014010810026372833

In [ ]:
#RMSE
from sklearn.metrics import mean_squared_error
a_pred = lr.predict(X_test_val)

In [ ]:
a = mean_squared_error(y_test_val,a_pred)**0.5
a

0.28871684782614293

In [ ]:
# OLS

In [ ]:
import statsmodels.api as sm

In [ ]:
model = sm.OLS(y, X)
result = model.fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:            statsTrgtNm   R-squared (uncentered):                   0.073
Model:                            OLS   Adj. R-squared (uncentered):              0.072
Method:                 Least Squares   F-statistic:                              75.35
Date:                Wed, 15 Dec 2021   Prob (F-statistic):                    1.68e-17
Time:                        14:42:46   Log-Likelihood:                         -211.02
No. Observations:                 958   AIC:                                      424.0
Df Residuals:                     957   BIC:                                      428.9
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
ptSexCd        0.0545      0.006      8.680      0.000       0.042       0.067
==============================================================================
Omnibus:                      511.186   Durbin-Watson:                   1.852
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2220.495
Skew:                           2.668   Prob(JB):                         0.00
Kurtosis:                       8.210   Cond. No.                         1.00
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

# 결핵

In [ ]:
tuberculosis=pd.read_csv("폐암 합병증/lung_tuberculosis.csv")
tuberculosis

,centerNm,critYr,ptAge,ptSexCd,statsTrgtNm,ncsNmvl,wholNcsDnmvl,ptCntNmvl,wholPtCntDnmvl
0,국립암센터,2010,69,M,Y,3,16,3,15
1,국립암센터,2019,76,F,N,2,3,2,3
2,국립암센터,2011,63,M,Y,5,24,5,23
3,국립암센터,2017,78,F,N,6,8,4,5
4,국립암센터,2017,78,F,Y,2,8,1,5
...,...,...,...,...,...,...,...,...,...
995,국립암센터,2012,58,M,N,9,9,9,10
996,국립암센터,2015,80,F,N,1,1,1,1
997,국립암센터,2012,52,M,N,6,7,5,6
998,국립암센터,2010,70,M,NaN,0,11,1,12
999,국립암센터,2012,42,M,N,1,1,1,1

In [ ]:
tub=tuberculosis[['ptSexCd','statsTrgtNm']]
tub

    ptSexCd statsTrgtNm
0         M           Y
1         F           N
2         M           Y
3         F           N
4         F           Y
..      ...         ...
995       M           N
996       F           N
997       M           N
998       M         NaN
999       M           N

[1000 rows x 2 columns]

In [ ]:
tub = tub.dropna()
tub

    ptSexCd statsTrgtNm
0         M           Y
1         F           N
2         M           Y
3         F           N
4         F           Y
..      ...         ...
994       M           N
995       M           N
996       F           N
997       M           N
999       M           N

[967 rows x 2 columns]

In [ ]:
tub['ptSexCd'] = tub['ptSexCd'].map(do)
tub['statsTrgtNm'] = tub['statsTrgtNm'].map(doo)

C:\Users\martu\AppData\Local\Temp/ipykernel_113840/2457854184.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tub['ptSexCd'] = tub['ptSexCd'].map(do)
C:\Users\martu\AppData\Local\Temp/ipykernel_113840/2457854184.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tub['statsTrgtNm'] = tub['statsTrgtNm'].map(doo)

In [ ]:
X =tub[['ptSexCd']]
y = tub[['statsTrgtNm']]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [ ]:
X_train_val, X_test_val, y_train_val, y_test_val = \
train_test_split(X_train, y_train, test_size = 0.2, random_state =42)

In [ ]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train_val, y_train_val)

LinearRegression()

In [ ]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
scaled_minmax = MinMaxScaler()
scaled_standard = StandardScaler()

In [ ]:
scaled_minmax.fit(X_train_val)
scaled_minmax_train = scaled_minmax.transform(X_train_val)

In [ ]:
scaled_standard.fit(X_train_val)
scaled_standard_train = scaled_standard.transform(X_train_val)

In [ ]:
scaled_minmax_test = scaled_minmax.transform(X_test_val)
scaled_standard_test = scaled_standard.transform(y_test_val)

In [ ]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(scaled_minmax_train, y_train_val)

LinearRegression()

In [ ]:
lr.score(scaled_minmax_test, y_test_val)

-0.00045697611851602815

In [ ]:
#RMSE
from sklearn.metrics import mean_squared_error
a_pred = lr.predict(X_test_val)

In [ ]:
a = mean_squared_error(y_test_val,a_pred)**0.5

In [ ]:
a

0.4328632775631218

In [ ]:
# OLS

In [ ]:
import statsmodels.api as sm

In [ ]:
model = sm.OLS(y, X)
result = model.fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:            statsTrgtNm   R-squared (uncentered):                   0.191
Model:                            OLS   Adj. R-squared (uncentered):              0.191
Method:                 Least Squares   F-statistic:                              228.7
Date:                Wed, 15 Dec 2021   Prob (F-statistic):                    1.54e-46
Time:                        14:43:25   Log-Likelihood:                         -621.08
No. Observations:                 967   AIC:                                      1244.
Df Residuals:                     966   BIC:                                      1249.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
ptSexCd        0.1477      0.010     15.124      0.000       0.129       0.167
==============================================================================
Omnibus:                      201.951   Durbin-Watson:                   1.900
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              199.394
Skew:                           1.038   Prob(JB):                     5.04e-44
Kurtosis:                       2.200   Cond. No.                         1.00
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""