In [ ]:
import pandas as pd
data = pd.read_csv('폐암 합병증/lung_diabetes.csv')

In [ ]:
data

,centerNm,critYr,ptAge,ptSexCd,statsTrgtNm,ncsNmvl,wholNcsDnmvl,ptCntNmvl,wholPtCntDnmvl
0,국립암센터,2013,64,M,Y,5,15,5,15
1,국립암센터,2016,77,F,N,6,8,4,6
2,국립암센터,2017,69,M,N,19,21,16,18
3,국립암센터,2019,62,M,Y,4,19,4,18
4,국립암센터,2013,73,M,N,17,20,16,19
...,...,...,...,...,...,...,...,...,...
995,국립암센터,2018,73,F,Y,3,8,2,5
996,국립암센터,2015,86,M,N,1,1,1,1
997,국립암센터,2018,73,M,Y,2,16,2,13
998,국립암센터,2017,47,F,N,3,3,2,2
999,국립암센터,2010,78,M,NaN,0,2,1,3

In [ ]:
df = data[['ptSexCd','statsTrgtNm']]
df

    ptSexCd statsTrgtNm
0         M           Y
1         F           N
2         M           N
3         M           Y
4         M           N
..      ...         ...
995       F           Y
996       M           N
997       M           Y
998       F           N
999       M         NaN

[1000 rows x 2 columns]

In [ ]:
df = df.dropna()

In [ ]:
df

    ptSexCd statsTrgtNm
0         M           Y
1         F           N
2         M           N
3         M           Y
4         M           N
..      ...         ...
994       F           Y
995       F           Y
996       M           N
997       M           Y
998       F           N

[971 rows x 2 columns]

In [ ]:
def do(x):
    if x == 'M':
        return 1
    else:
        return 2

In [ ]:
def doo(x):
    if x == 'Y':
        return 1
    else:
        return 0

In [ ]:
df['ptSexCd'] = df['ptSexCd'].map(do)

C:\Users\martu\AppData\Local\Temp/ipykernel_63924/2272281505.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ptSexCd'] = df['ptSexCd'].map(do)

In [ ]:
df

     ptSexCd statsTrgtNm
0          1           Y
1          2           N
2          1           N
3          1           Y
4          1           N
..       ...         ...
994        2           Y
995        2           Y
996        1           N
997        1           Y
998        2           N

[971 rows x 2 columns]

In [ ]:
df['statsTrgtNm'] = df['statsTrgtNm'].map(doo)

C:\Users\martu\AppData\Local\Temp/ipykernel_63924/152114550.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['statsTrgtNm'] = df['statsTrgtNm'].map(doo)

In [ ]:
df

     ptSexCd  statsTrgtNm
0          1            1
1          2            0
2          1            0
3          1            1
4          1            0
..       ...          ...
994        2            1
995        2            1
996        1            0
997        1            1
998        2            0

[971 rows x 2 columns]

In [ ]:
X = df[['ptSexCd']]
y = df[['statsTrgtNm']]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [ ]:
X_train_val, X_test_val, y_train_val, y_test_val = \
train_test_split(X_train, y_train, test_size = 0.2, random_state =42)

In [ ]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train_val, y_train_val)

LinearRegression()

In [ ]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
scaled_minmax = MinMaxScaler()
scaled_standard = StandardScaler()

In [ ]:
scaled_minmax.fit(X_train_val)
scaled_minmax_train = scaled_minmax.transform(X_train_val)

In [ ]:
scaled_standard.fit(X_train_val)
scaled_standard_train = scaled_standard.transform(X_train_val)

In [ ]:
scaled_minmax_test = scaled_minmax.transform(X_test_val)
scaled_standard_test = scaled_standard.transform(y_test_val)

In [ ]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train_val, y_train_val)

LinearRegression()

In [ ]:
lr.score(X_test_val, y_test_val)

-0.028971709613681895

In [ ]:
#RMSE
from sklearn.metrics import mean_squared_error
a_pred = lr.predict(X_test_val)

In [ ]:
a = mean_squared_error(y_test_val,a_pred)**0.5

In [ ]:
a

0.4781844622257728

# OLS

In [ ]:
import statsmodels.api as sm

In [ ]:
model = sm.OLS(y, X)
result = model.fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:            statsTrgtNm   R-squared (uncentered):                   0.292
Model:                            OLS   Adj. R-squared (uncentered):              0.292
Method:                 Least Squares   F-statistic:                              400.7
Date:                Tue, 14 Dec 2021   Prob (F-statistic):                    6.93e-75
Time:                        21:09:26   Log-Likelihood:                         -720.03
No. Observations:                 971   AIC:                                      1442.
Df Residuals:                     970   BIC:                                      1447.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
ptSexCd        0.2134      0.011     20.018      0.000       0.192       0.234
==============================================================================
Omnibus:                     6034.541   Durbin-Watson:                   1.979
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              141.779
Skew:                           0.520   Prob(JB):                     1.63e-31
Kurtosis:                       1.444   Cond. No.                         1.00
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""